
.Blocos {
    background-color: rgba(229, 223, 223, 0.38);
    border-radius: 2rem;
    margin: 4rem;
    display: flex; /* Define o contêiner como flexível para organizar imagem e texto lado a lado */
    align-items: center; /* Centraliza verticalmente os elementos dentro do contêiner */
  }
  
  .Blocos img {
    height: 300px;
    width: 300px; /* Define a largura máxima da imagem (ajuste conforme necessário) */
    margin-right: 1.6rem; /* Espaçamento entre a imagem e o texto (ajuste conforme necessário) */
  }
  
  .Blocos-text {
    flex: 1; /* Permite que o texto ocupe o espaço restante no contêiner */
  }
  
  
  .Blocos p {
    font-size: 2rem;
    background: #9595958a;
    border-radius: 2rem;
    padding: 0.5rem;
    width: 30rem;
  }
  .bloquinho {
    align-items: center;
    text-align: center;
    max-width: 50%;
    margin: 4rem;
  }
  