ul {
    list-style: none;
    padding: 0;
  }
  
  li {
    display: inline-block;
    margin-right: 1.6rem; /* Adicione um espaçamento à direita entre os elementos */
  }

.rodape {
    margin: 2rem 2rem 4rem 2rem;
    font-size: 1.2rem
}

.hr-container {
    position: relative;
  }
  
  .hr-text {
    display: inline-block;
    width: calc(100% - 48rem); /* Ajuste a largura conforme necessário */
    vertical-align: middle; /* Alinhe verticalmente com o texto */
    border-top: 1px solid #000; /* Estilo da linha */
    margin: 0 0.2rem; /* Espaçamento opcional à esquerda e à direita */
  }
  
  